body {
    font-family: "Open-Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    line-height: 1.75em;
    background-color:#e9f6f1;
}

.btn-primary {
  background-color: #254441 !important;
  border-color: #254441;
}
footer {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:auto;
  padding:15px;
  width:auto;
  color:white;
  background-color:#254441;
}

h1,h6 {
  font-weight: 550;
  color: #254441;
}

h2 {
  font-weight: 550;
  color: #3BB3C2;
}
/* Modify the nav bar*/    
.navbar-dark {background-color: #254441 !important;}

.navbar-nav .nav-link {color:white !important;}

.nav-link, .navbar-brand {color:white !important;}

.nav-link:hover{color:#E5BD06 !important;}

.navbar-brand{
    margin-right:0.25rem;
}

.navbar-brand img {
    margin-right: 7.5px;
    margin-left: 0px;
}
/* end navbar modifications */

.card {
  transition: transform .5s;
  margin-bottom:2%;
  border:none;
}

.card:hover {
  transform: scale(1.05);
}

/* general center in middle of page styling (add in addition to other bootstrap classes*/
.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.registerForm {
    margin-top:20px;
  }

.password-container {
    position: relative;
}

/*eye toggle for password hide/show*/
#eye {
    position: absolute;
    top: 65%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  #eye2 {
    position: absolute;
    top: 65%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }

  .centerContent {
    display: flex;
    justify-content: center;
    align-content: center;
  }

.subText {
  color: #1153B1;
  font-weight: 400;
}


a:hover {
    text-decoration: none;
    color: #E5BD06;
  }

  .postButton {
    height:64px;
    width:100px;
    background-color:#254441;
    color:white;
  }


